<!DOCTYPE html>
<html>
    {% block head %}
        <head>
            <meta charset="UTF-8"/>
            <meta name= "viewport" content= "width=device-width, initial-scale=1">
            <title>
                {% block title %}Welcome!{% endblock %}
            </title>
            {% block javascripts %}
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
                <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
                <!-- Compiled and minified JavaScript -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
                <script src="{{ asset('js/appscript.js') }}"></script>
            {% endblock %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
            <link href="https://fonts.googleapis.com/css?family=Princess+Sofia" rel="stylesheet">
            <link href="{{ asset('css/album.css') }}" rel="stylesheet">
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <!-- Compiled and minified CSS -->
        </head>
    {% endblock %}
    <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-info">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="navbar-brand text-white" href="{{ path('oc_prep_homepage') }}">
                        <i class="large material-icons">home</i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('fos_user_profile_show') }}">
                        {% if is_granted('ROLE_USER') %}
                            <span class="navbar-brand text-white text-right" style="padding-left: 50px">
                                {{app.user.username }}
                            </span>
                        {% elseif is_granted('ROLE_ADMIN') %}
                            <span class="navbar-brand text-center">
                            {{app.user.username }}
                        </span>
                        {% endif %}
                    </a>
                </li>
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('oc_prep_add') }}" style="color: #fff;">Add Tricks</a>
                    </li>
                {% elseif is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('oc_prep_add') }}" style="color: #fff;">Add Tricks</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                {% if is_granted('ROLE_USER') %}
                    <a class="nav-link" href="{{ path('fos_user_security_logout') }}" style="color: #fff;">Logout</a>
                {% elseif is_granted('ROLE_ADMIN') %} }}
                    <a class="nav-link" href="{{ path('fos_user_security_logout') }}" style="color: #fff;">Logout</a>
                {% else %}
                    <a class="nav-link" href="{{ path('fos_user_security_login') }}" style="color: #fff;">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('fos_user_registration_register') }}" style="color: #fff;">Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block body %}
    {% endblock %}
    </body>
</html>