{% extends "OCPrepBundle::layout.html.twig" %}
    {% block body %}
        {% set success = app.flashes('success') %}
        {% set error = app.flashes('error') %}
        {% if success %}
            {% for message in success %}
                <div class="alert alert-success" id="bansuccess">{{ message }}</div>
            {% endfor %}
        {% elseif error %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger" id="bansuccess">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <br/>
        <h1 class="text-center titleadd">Add SnowTrick</h1>
        <img src="{{ asset('pics/snow-mountain-works-wallpaper.jpg') }}" id="bg" alt="">
        <div class="well col-md-6 bg-info text-justify">
            {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.Group) }}
            <div class=" text-right" id="addgroup">
                <a href="{{ path('oc_prep_group')}}" class="btn btn-success text-right">Add Groups</a>
            </div>
            <br/>
            <br/>
            <br/>
                {{ form_row(form.picture) }}
                {{ form_row(form.video) }}
            <div class="text-right">
                {{ form_row(form.submit) }}
            </div>
            {{ form_end(form) }}
            <br/>
            <br/>
            <div class="text-right">
                <a href="#" id="add_picture" class="btn btn-primary text-right">Add Picture</a>
                <a href="#" id="add_video" class="btn btn-primary text-right">Add Video</a>
            </div>
            <br/>
            <br/>
            {# ... #}
        </div>
    {% endblock %}