{% extends "OCPrepBundle::layout.html.twig" %}

    {% block body %}
        <h1 class="text-center titleadd">Edit SnowTrick</h1>
        <img src="{{ asset('pics/snow-mountain-works-wallpaper.jpg') }}" id="bg" alt="picture">
        <div class="well col-md-6 bg-info text-justify">
                {{ form_start(form) }}
                {{ form_row(form.name)}}
                {{ form_row(form.description) }}
                {{ form_row(form.Group) }}
            <br/>
                {{ form_row(form.picture) }}
                {{ form_row(form.video) }}
            <div class="text-right">
                {{ form_row(form.submit) }}
            </div>
                {{ form_end(form) }}
            <br/>
            <div class="text-right">
                <a href="#" id="add_picture" class="btn btn-primary text-right">Add Picture</a>
                <a href="#" id="add_video" class="btn btn-primary text-right">Add Video</a>
            </div>
        </div>
    {% endblock %}