{% extends "OCPrepBundle::layout.html.twig" %}
{% block body%}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
        <span class="glyphicon glyphicon-remove-circle"></span>
    {% endfor %}
    <section class="jumbotron text-center" style="
            background-image: url({{ asset('pics/alesia-kazantceva-362303.jpg') }});
            height:300px;
            background-repeat: no-repeat;
            background-size: cover;">
        <div class="container">
            <h1 class="jumbotron-heading text-muted" style="font-family: 'Princess Sofia', cursive;font-size: 180px;">SnowTricks</h1>
        </div>
    </section>
    <div class="bg-info album text-muted">
        <div class="container">
            <div class="row">
                {% for pics in picture %}
                <div class="card-deck">
                    <div class="card bg-info">
                        <a href="{{ path('oc_prep_action',{'id':pics.trick.id}) }}">
                            <img src="{{ pics.url }}" alt="Card image cap" style=" width: 250px;height: 280px;">
                        </a>
                        <div class="card-header bg-faded text-right">
                            <p class="text-left">{{ pics.trick.description }}</p>
                        <!-- Pencil icon by Icons8 -->
                           <a href="{{ path('oc_prep_edit', {'id':pics.trick.id }) }}">
                               <i class="material-icons right-align">create</i>
                           </a>
                            <a href="{{ path('oc_prep_delete', {'id':pics.trick.id }) }}">
                                <i class="material-icons right-align">delete</i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}