{% extends "OCPrepBundle::layout.html.twig" %}
{% block body%}
    <section class="jumbotron text-center bannertop" style="background-image: url({{ asset('pics/alesia-kazantceva-362303.jpg') }});">
        <div class="container">
            <h1 class="jumbotron-heading text-muted" style="font-family: 'Princess Sofia', cursive;font-size: 180px;">SnowTricks</h1>
        </div>
    </section>
    <div class="container-fluid col-md-12 text-center bg-info" style="color: white;">
        {% for t in trick %}
        <br/>
        <div class="clearfix">
            <div class="col-md-12 text-center">
                <h1>{{ t.name }}</h1>
            </div>
                <br/>
                <br/>
            <div class="col-md-12 bottom5 text-center">
                <p>{{ t.description }}</p>
                <br/>
            </div>
        </div>
        {% endfor %}
    </div>
    {% set data = picture|merge(video) %}
    <div class="container-fluid bannermid" style="background-image: url({{ asset('pics/backgroundshow.jpg') }});">
        <div class="row col-md-4" style="padding-top: 100px; padding-left: 350px">
            <div id="my_carousel" class="carousel slide mx-auto" data-ride="carousel" data-interval="3000">
                <ol class="carousel-indicators">
                    {% for media in data %}
                        <li data-target="#my_carousel" data-slide-to="{{ loop.index0 }}" class="{% if loop.index0 == 0 %}active{% endif %}"></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner col-md-12 no-padding" role="listbox">
                    {% for media in data %}
                        <div {% if loop.first %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
                            {% if media == picture %}
                            <img class="d-block pics" alt="picture" src="{{ media.url }}"/>
                            {% else %}
                            <iframe class="d-block" src="{{ media.url }}"></iframe>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
    </div>
    {% if is_granted('ROLE_USER') %}
    <div class="container-fluid col-md-12">
        <br/>
        <div class="col-md-offset-2 col-md-4 table-bordered bg-info" style="color: white">
            <!--Form to send messages -->
            {{ form(form) }}
        </div>
        <br/>
    </div>
    {% elseif is_granted('ROLE_ADMIN') %}
    <div class="container-fluid col-md-12">
        <br/>
        <div class="col-md-offset-2 col-md-4 table-bordered bg-info" style="color: white">
            <!--Form to send messages -->
            {{ form_start(form) }}
            {{ form_row(form.description) }}
            {{ form_end(form) }}
        </div>
        <br/>
    </div>
    {% endif %}
    <div class="container-fluid bg-info">
        <br/>
        <h2 class="text-center" style="color: white">Last comments</h2>
        <br/>
        <div class="row col-md-12">
            {% for comments in paginaton %}
            <div class="card col-md-7">
                <div class="card-header bg-info">
                    <img class="img-thumbnail col-md-2" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    <strong>{{ comments.createdBy }}</strong>
                    <span class="text-left" style="color: white;">{{ comments.createdAt|date('d/m/Y H:i:s') }}</span>
                    <br/>
                    <br/>
                    <p>{{comments.description }}</p>
                    <br/>
                </div>
            </div>
            {% endfor %}
        </div>
    <br/>
        <div class="row col-md-12">
            <nav class="navbar navbar-light navbar-right">
                {{ knp_pagination_render(paginaton) }}
            </nav>
        </div>
    </div>
    {# display navigation #}
    <br/>
    <br/>
{% endblock %}
