{% extends "OCPrepBundle::layout.html.twig" %}
    {% block body %}
        <h1>Add a SnowTrick</h1>
        <div class="well">
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_rest(form) }}
            {{ form_end(form) }}
            {# ... #}
        </div>

{% endblock %}